*.svs
.vscode/settings.json
.Rproj.user
HE4_files
HE4.dzi
HE4.html
.Rhistory
renv.lock
renv/activate.R
HE2_files
.DS_Store
CD20_files
CD20.dzi
CD20.html
CD3_files
CD3.dzi
CD3.html
CD8_files
CD8.dzi
CD8.html
HE-gastritis_files
HE-gastritis.dzi
HE-gastritis.html
HE-deneme2.html
TwoChannelExample.zip


/.quarto/

docs
app1.py
app1.spec
remove_files_1.py
remove_files_2.sh
remove_files_3.sh
build
dist
